# =========================================================================
# REIO SYSTEMS — ENTERPRISE PROJECT R&D CLEANUP FILTER
# =========================================================================

# AMD/Xilinx Vivado Temporary Outputs & Caches
*.log
*.jou
*.str
.Xil/
vhdlnsim.sah
work/
xsim.dir/
xsim.ini
.analytics/
*.ppx
*.bak

# Rust Cargo Compilation & Dependency Artifacts
target/
Cargo.lock
**/*.rs.bk

# Local OS Files
Thumbs.db
.DS_Store

# Bloquer les fichiers sources matériels et logiciels secrets de manière récursive
**/*.vhd
**/*.v
**/*.sv
**/*.rs

# Block Vivado interface local files
**/*.xpr

# Bloquer les rapports de synthèse et d'implémentation dans tous les sous-dossiers
**/*_power_routed.rpt
**/*_timing_summary_routed.rpt
**/*_utilization_synth.rpt
**/*_utilization_placed.rpt

# Ignorer tous les répertoires de simulation locaux ou caches de projets d'interfaçage
**/*.srcs/
**/*.sim/
**/*.hw/
**/*.cache/
**/*.runs/
